.menu-text {
    font-size: 15px;
    color: #66798A;
}

.active {
    background-color: #25303E;
}

.menu-text-active {
    color: #5EB5F7;
    opacity: 0.7;
}

.menu {
    width: 6%;
    //background-color: white;
}

.menu-list {
    height: 96.5%;
    width: 100%;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        &:hover {
            background-color: #25303E;
        }
        &:active {
            background-color: #25303E;
        }
    }
}

.menu-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; 
}

.menu-icon {
    width: 28px;
    margin-bottom: 9px;
}
