.top-btn {
    padding: 5px;
    margin: -5px;
    width: 12px;
    margin-left: 10px;
    fill: #576673;
    &:hover {
        background-color: #25303E;
    }
}

.top-red {
    &:hover {
        background-color: #EB4C42;
    }
}

.top-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.top {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4%;
    background-color: #1F2936;
}
