.users-search {
    width: 220px;
    background-color: #242F3D;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding-left: 20px;
    margin-bottom: 13px;
}

.users {
    overflow-x: scroll;
    padding: 12.5px;
    width: 18%;
    height: 92vh;
    background-color: #17212B;
}

.users::-webkit-scrollbar {
    display: none;
}

.user-item, 
.user-item-text-top,
 .user-item-text-bottom {
    display: flex;
    align-items: center;
}

.user-item-text-bottom {
    width: 180px;
}

.user-item-text-top {
    margin-bottom: 5px;
    img, h4 {
        margin-right: 5px;
        color: #F5F5F5;
    }
    h4 {
        width: 100px;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
        width: 60px;
        color: #F5F5F5;
        font-size: 13px;
    }
}

.active-li {
    background-color: #2B5278;
}


.user-item {
    margin-top: -1px;
    padding-top: 13px;
    padding-bottom: 12px;
    padding-right: 18px;
    margin-left: -12px;
    padding-left: 12px;
    width: 240px;
}

.username-text {
    white-space: nowrap;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-item-img {
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    color: #73B9F5;
}
.username-text {
    color: #7F91A4;
}

.message-count {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;
    background-color: #3E546A;
    color: #FFF;
}